<footer class="site-footer">
  <div class="wrapper">
    <a href="http://github.com/jeffersonlam">
      <span class="icon icon-github3"></span>
    </a>
    <a href="http://twitter.com/jeffersonwlam">
      <span class="icon icon-twitter"></span>
    </a>
    <a href="http://codepen.io/jeffersonlam/">
      <span class="icon icon-codepen"></span>
    </a>
    <a href="http://soundcloud.com/jefferson-lam">
      <span class="icon icon-soundcloud"></span>
    </a>
    <a href="http://linkedin.com/in/jeffersonlam">
      <span class="icon icon-linkedin"></span>
    </a>
    <a id="email-link" href="mailto:jeffersonwlam@gmail.com">
      <span class="icon icon-envelop"></span>
    </a>
    <p>&copy; 2015 Jefferson Lam. Made with love and stardust.</p>
  </div>
</footer>
